/* Write your CSS here */
.typoProps {
  color: #475569;
  font-family: Roboto;
  font-size: 32px;
}
.container {
  background-color: #cbd5e1;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
